*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background: #fff;
    color: #222;
}

/* navbar */
.navbar{
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar nav a{
    margin: 0 10px;
    text-decoration: none;
    color: #222;
    font-size: 15px;
}

/* logo style */
.logo{
    font-weight: bold;
    font-size: 22px;
    color: #0077ff;
}

.buttons button{
    padding: 6px 14px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    margin-left: 6px;
}

.login{
    background: transparent;
    border: 1px solid #0077ff;
    color: #0077ff;
}

.signup{
    background: #0077ff;
    color: white;
}

/* hero section */
.hero{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
}

.hero-text{
    width: 50%;
}

.hero-text span{
    color: #0077ff;
}

.hero-text p{
    margin: 15px 0;
    color: gray;
}

.search-box{
    margin-top: 20px;
}

.search-box input{
    padding: 10px 15px;
    margin: 5px;
    border-radius: 20px;
    border: 1px solid #ddd;
}

.search-box button{
    padding: 10px 18px;
    border-radius: 20px;
    border: none;
    background: #0077ff;
    color: white;
    cursor: pointer;
}

.hero-img img{
    width: 350px;
}
/* stats */
.stats{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    background: #0077ff;
    color: white;
    padding: 20px 0;
}

.stats div{
    text-align: center;
}


/* specialists */
.specialists{
    padding: 40px 60px;
}

.specialists h2{
    margin-bottom: 30px;
    text-align: center;
}

.cards{
    display: flex;
    gap: 20px;
}

.card{
    width: 25%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.blue{
    background: #0077ff;
    color: white;
}

/* why */
.why{
    margin-top: 60px;
    padding: 20px 60px;
    display: flex;
    align-items: center;
}

.why-img img{
    width: 250px;
}

.why-text{
    margin-left: 30px;
}


/* future */
.future{
    padding: 40px 60px;
    display: flex;
    align-items: center;
}

.future-img img {
    width: 350px;
    height: auto;
    margin-left: 30px;
}




/* newsletter */
.newsletter{
    margin-top: 40px;
    text-align: center;
    padding: 40px 0;
    background: #0077ff;
    color: white;
}

.input-box input{
    padding: 12px;
    border-radius: 20px;
    border: none;
    width: 260px;
}

.input-box button{
    padding: 12px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

/* footer */
.footer{
    margin-top: 40px;
    padding: 40px 60px;
    background: #0a58ca;
    color: white;
    display: flex;
    justify-content: space-between;
}

.footer h3{
    margin-bottom: 10px;
}
